:root {
  --color-primary-light-Red: hsl(0, 36%, 70%);
  --color-primary-soft-Red: hsl(0, 93%, 68%);
  --color-neutral-gray-red: hsl(0, 6%, 24%);
  --color-gradients-white: hsl(0, 6%, 24%);
}
/* 
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
  /* background: linear-gradient(hsl(0, 80%, 86%), to hsl(0, 74%, 74%)); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Josefin Sans", sans-serif;
 
}
button{
  border: none;
  background-color: none;
  cursor: pointer;
}
.image-background{
  background-image: url("./images/hero-desktop.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
}
.img{
  height: 100%;
}
.main {
  display: grid;
  grid-template-columns: 1.9fr 1.2fr;
  background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%) 88%);
  width: 100%;
}
.information {
  background-image: url("./images/bg-pattern-desktop.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-logo img {
  padding: 7rem 2rem 6rem 14rem;
}
.main-information {
  padding: 2rem 2rem 6rem 14rem;
}

.main-title {
  color: var(--color-primary-light-Red);
  font-size: 6.4rem;
  font-weight: 300;
  letter-spacing: 17.3206px;
}
.main-title-title {
  color: #423a3a;
  font-size: 6.4rem;
  line-height: 7.1rem;
  font-weight: 600;
  letter-spacing: 17px;
}

.text-br {
  letter-spacing: 17px;
  display: block;
}

.lead {
  color: #ce9898;
  line-height: 28px;
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 400px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.input-container {
  border: 1px solid #ce9898;
  border-radius: 40px;
  padding: 2rem 2rem;

  opacity: 0.5;
  width: 100%;
  position: relative;
}
.hidden{
  display: none;
}
.input-invalid {
  border: 2px solid red;
}
.input-valid{
  border: 2px solid green;
}
.input-container:focus {
  outline: none;
}
.email-container {
   position: relative;
  width: 60%;
}
.error{
  position: absolute;
  top: 0;
  left: 63%; 
  z-index: 2000; 
  transform: translate(50% , 50%);
  display: none;
  
}
.error-message {
  font-size: 1.3rem;
  font-family: inherit;
  padding-left: 2rem;
  color: red;
  padding-top: 1rem;
  
}
.currect-message{
  font-size: 1.3rem;
  font-family: inherit;
  padding-left: 2rem;
  color: green;
  padding-top: 1rem;
}

.arrow {
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  border-radius: 28px;
  padding: 2rem 4rem 1.7rem 4rem;
  position: absolute;
  right:0;
   
  top: 0;
}
.information .image-background{
  display: none;
}

@media  (max-width: 1024px) {
  html{
    font-size: 56.25%;
    overflow-y: none;
  }
  .header-logo img {
    padding: 7rem 2rem 6rem 4rem;
  }
  .main-information {
    padding: 2rem 2rem 6rem 4rem;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  .image-background{
    height: 100vh;
    height: 100%;
  }
  .email-container {
   width: 70%;
 }

}


@media (max-width: 800px) {

  html{
    font-size: 50%;
  }
  .main {
    grid-template-columns: 1fr;
  }
  .image-background {
   
    background-position: top;
    
  }
  .main-information{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .collection-mobile{
    height: 330px;
    background-image: url("./images/Bitmap.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .collection{
    display: none;
  }
  .information{
    background-image: none;
  
  }
  .main-information{
    margin-top: 6rem;
    margin-bottom: 4rem;
    text-align: center;
  }
  .main-title{
    font-size: 5rem;
    text-align: center;
  }
  .main-title-title{
    text-align: center;
    font-size: 5rem;
  }
  .lead{
    text-align: center;
    font-size: 1.7rem;
    line-height: 22px;
    margin-bottom: 3rem;
  }

  .email-container {

    width: 85%;
  }
  .error-message {
    font-size: 1.7rem;
    font-family: inherit;
    padding-left: 1.5rem;
    color: red;
    padding-top: 1.3rem;
    text-align: left;
  }
  .currect-message{
    font-size: 1.7rem;
    font-family: inherit;
    padding-left: 1.5rem;
    color: green;
    padding-top: 1.3rem;
    text-align: left;
  }
}