:root{
  --color-primary-light-Red : hsl(0, 36%, 70%);
  --color-primary-soft-Red : hsl(0, 93%, 68%);
  --color-neutral-gray-red : hsl(0, 6%, 24%);
  --color-gradients-white : hsl(0, 6%, 24%);
  
}
/* 
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/ 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  /* background: linear-gradient(hsl(0, 80%, 86%), to hsl(0, 74%, 74%)); */
}





.image-background{
  background-image: url('./images/hero-desktop.jpg');
  background-repeat: no-repeat;
  background-position:  center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  
}

.main{
  display: grid;
  grid-template-columns: 1.9fr 1.2fr;
  background : linear-gradient(hsl(0, 0%, 100%),  hsl(0, 100%, 98%)88%);
  width: 100%;
}
.information{
  background-image: url('./images/bg-pattern-desktop.svg');
  background-position:left center;
  background-repeat:no-repeat;
  background-size:cover;  
}